body{background-color: #0B0B61;}
h1{color: white; text-align: center; font-size: 60px; text-shadow: 2px 2px lightgreen;}
.table{position: relative; top:150px; left:250px;  color: red; text-align: center;}
img{position: relative; top:50px; left:150px; text-shadow: lightskyblue;}